body{
	font-family: 'Source Sans Pro', sans-serif;
}
/**************************************
					Side navigation bar
**************************************/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #1a1a1a;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color:#fff;
}
.bg-dark{
	background:#1a1a1a !important;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1a1a1a;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
	display:none;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1a1a1a;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7386D5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1b5eab;
}

ul.CTAs {
    padding: 10px;
}

ul.CTAs a {
    text-align: center;
    font-size: 1rem !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.c-nav-link{
	font-size:1.2rem;
	color:#fff;
	margin-left:5px;
	background:#7d5d81;
	padding:10px;
	border-radius:5px;
	margin-top:3px;
}
.c-nav-link1{
	font-size:1.2rem;
	color:#fff;
	margin-left:5px;
	background:#b34048;
	padding:10px;
	border-radius:5px;
	margin-top:3px;
}
.c-nav-link2{
	font-size:1.2rem;
	color:#fff;
	margin-left:5px;
	background:#314190;
	padding:10px;
	border-radius:5px;
	margin-top:3px;
}
.c-nav-link3{
	font-size:1.2rem;
	color:#fff;
	margin-left:5px;
	background:#769e64;
	padding:10px;
	border-radius:5px;
	margin-top:3px;
}
.logo-margin{
	position:absolute;
	left:250px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
    	display:block;
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .logo-margin{
	position:absolute;
	top:15px;
	left:220px;
}
}
/***********************************************************/
.container-mr-t{
	margin-top:100px;
}

.container-fluid{
	background:#eceef1;
	padding-right:0px;
	padding-left:0px;
	padding-top:10px;
	height:100%;
}
body{
	background:#eceef1;
	height:100%;
	font-family:'Source Sans Pro', sans-serif;
}
.row{
	margin-left:10px;
	margin-right:10px;
}
.section{
	width:100%;
	background:red;
}

.table td, .table th{
	padding: .25rem;
}
.row-background{
	padding:5px;
	background:#fff;	
}
h4,h5{
	margin:0;
}


.sub::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
input,button{
	margin-bottom:.5rem;
	
}
input[type="checkbox"]{
	margin:0;
}
checkbox{
	margin-bottom:0rem;
}
.form-control-sm{
	border-radius:0px;
}
.btn{
	border-radius:0px;
}
.btn_width{
	width:150px;
	height:40px;
	font-size:18px;
}
.btn_width-for-justify{
	width:200px;
	height:40px;
	font-size:18px;
}

.btn-width-confirm{
	width:120px;
	height:30px;
	font-size:18px;
}

.table thead th {
    vertical-align: middle;
}

table tbody tr:hover{
	box-shadow: 0px 1px 1px 1px #888888;
	cursor: pointer;
}

.col-md-3-margin{
	margin-top:-50px;
}

/******************************************************
				DASHBOARD 
*******************************************************/
.inner{
	background:#3478b7;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner1{
	background:#5eb75b;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner2{
	background:#eeac4b;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner3{
	background:#da5350;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner-sub{
	background:#3478b7;
	width:100%;
	height:50px;
}
.cselect{
	padding:0px;
	width:50%;
	background:#eeac4b;
	color:#fff;
	border:none;
	outline:0px;
	font-weight:bold;
}

.notification-frame{
	padding:5px;
}
.notification{
	background:#f5f5f5;
	padding:5px;
	font-weight:bold;
	margin-bottom:2px;
	vertical-align:middle;
}
.notification-panel{
	height:auto;
	padding:5px;
}

/******************************ROW SPAN*************************/
.row-div{
	
}
.tbl-row-back{
	background-color:#da5350;	
	color:#fff;
}
.heading{
	background-color:#da5350;	
	color:#fff;
	padding:5px;
}
.grade-box{
	height:150px;
	padding:5px;
}


/**********************************
				Heading classes
**********************************/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .0rem;
    font-weight: 500;
    line-height: 1.2;
}


/**********************************
				Response Classes
************************************/
.response-back-display{
	display:none;
	position:fixed;
	top:0;right:0;bottom:0;left:0;
	background:black;
	opacity:0.5;
	z-index:1;
}
.response-body{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	width:400px;
	height:175px;
	margin-top:-125px;
	margin-left:-175px;
	background:#fff;
	border-radius:5px;
	z-index:2;
}
.response-header{
	display:flex;
	justify-content:start;
	align-items:center;
	background:#efefef;
	width:100%;
	height:40px;
	border-bottom:1px solid gray;
	border-radius:5px 5px 0px 0px;
	padding:10px;
	color:black;
}

.response-content{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:85px;
	padding:5px;
}

.response-footer{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:50px;
}
.btn-response{
	height:auto;
	width:100px;
	border-radius:4px;
}



/*******Custom classes for finishing*********/
.online{
	width:15px;
	height:15px;
	border-radius:50%;
	background:#9aee00;
	text-align:center;
}
.offline{
	width:15px;
	height:15px;
	border-radius:50%;
	background:gray;
	text-align:center;
}
/**************************************
					Hamburger Icon
***************************************/
.c-nav-collapse {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/************************************************************
hover classes
************************************************************/
img.ctm-hover:hover{
	cursor:pointer;
}
/*******************************MEDIA ************************/
@media only screen and (max-width: 768px){
	.sidebar{
		display:none;
		z-index:1;
		 -webkit-transition: width 2s; /* Safari prior 6.1 */
  		transition: width 2s;
	}
	.container-fluid{
		padding-left:0px;
	}
	
	.row{
		margin-left:5px;
	}
	.col-md-3-margin{
		margin-top:0px;
	}
}
@media only screen and (min-width: 769px){
	.sidebar{
		display:none ;
	}	
}