.bg-dark {
    background-color: #1a1a1a!important;
}

.sidebar{
	display:block ;
	width:230px;
	position:fixed;
	top:56px;
	left:0;
	bottom:0;
	background-color:#1a1a1a;
	color:#fff;
	overflow: hidden;
}

.sidebar-menu-panel{
	padding-left:10px;
}

.menu-item{
	padding:10px 15px 10px 30px;
}

.navbar{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1;
}
.submenu{
	display:none;
	background-color: #1a1a1a;
  	padding-left: 20px;
}
.submenu a:hover{
	background-color:#279636;
}
ul{
	backgroun:yellow;
}

ul li{
	list-style:none;
	padding-top:5px;
	padding-bottom:5px;
}
/*
li:hover{
	background-color:#279636;
	
}*/
a{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}

a:hover{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
.container-mr-t{
	margin-top:65px;
}
/***************************THIS NEEDS TO CHANGE*********************************/
.container-fluid{
	background:#eceef1;
	padding-right:0px;
	padding-left:15px;
	height:100%;
}
body{
	background:#eceef1;
	height:100%;
	font-family:"Times New Roman", Times, serif;
}
.row{
	margin-left:225px;
	margin-right:10px;
}
.section{
	width:100%;
	background:red;
}
.table td, .table th{
	padding: .25rem;
}
.row-background{
	padding:5px;
	background:#fff;	
}
h4,h5{
	margin:0;
}


.sub::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
input,button{
	margin-bottom:.5rem;
	
}
input[type="checkbox"]{
	margin:0;
}
checkbox{
	margin-bottom:0rem;
}
.form-control-sm{
	border-radius:0px;
}
.btn{
	border-radius:0px;
}
.table thead th {
    vertical-align: middle;
}

/******************************************************
				DASHBOARD 
*******************************************************/
.inner{
	background:#3478b7;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner1{
	background:#5eb75b;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner2{
	background:#eeac4b;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner3{
	background:#da5350;
	width:100%;
	height:75px;
	padding:10px;
	color:#fff;
	font-weight:bold;
	margin-bottom:5px;
}
.inner-sub{
	background:#3478b7;
	width:100%;
	height:50px;
}
.notification-frame{
	padding:5px;
}
.notification{
	background:#f5f5f5;
	padding:5px;
	font-weight:bold;
	margin-bottom:2px;
	vertical-align:middle;
}
.notification-panel{
	height:300px;
	padding:5px;
}
/*******************************MEDIA ************************/
@media only screen and (max-width: 768px){
	.sidebar{
		display:none;
		z-index:1;
		 -webkit-transition: width 2s; /* Safari prior 6.1 */
  		transition: width 2s;
	}
	.container-fluid{
		padding-left:0px;
	}
	
	.row{
		margin-left:5px;
	}
}
@media only screen and (min-width: 769px){
	.sidebar{
		display:block !important;
	}	
}