
.sidebar{
	heigth:100%;
	width:200px;
	position:fixed;
	top:56px;
	left:0;
	bottom:0;
	background-color:#343a40;
	color:#fff;
	overflow-x: hidden;
	
}
.navbar{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1;
}
.submenu{
	display:none;
	background-color: #343a40;
  	padding-left: 20px;
}
ul{
	backgroun:yellow;
}

ul li{
	list-style:none;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #fff;
}

a{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
a:hover{
	text-decoration:none;
	color:#fff;

}
.container-mr-t{
	margin-top:65px;
}
/***************************THIS NEEDS TO CHANGE*********************************/
.container-fluid{
	background:#eceef1;
	padding-right:0px;
	padding-left:15px;
	height:100%;
}
body{
	background:#eceef1;
	height:100%;
	font-family:"Times New Roman", Times, serif;
}
.row{
	margin-left:195px;
	margin-right:10px;
}
.section{
	width:100%;
	background:red;
}
.table td, .table th{
	padding: .25rem;
}
.row-background{
	padding:5px;
	background:#fff;	
}
h4,h5{
	margin:0;
}


.sub::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
input,button{
	margin-bottom:.5rem;
}
.form-control-sm{
	border-radius:0px;
}
.btn{
	border-radius:0px;
}
.table thead th {
    vertical-align: middle;
}
/*******************************MEDIA ************************/
@media screen and (max-width: 768px){
	.sidebar{
		display:none;
	}
	.container-fluid{
		padding-left:0px;
	}
	
	.row{
		margin-left:5px;
	}
}