@charset "ISO-8859-1";
.login-container{
	position:fixed;
	top:10%;
	left:50%;
	width:500px;
	height:auto;
	padding:20px;
	margin-left: -250px;
	background-color:#fff;
	color:#1a1a1a;
	line-height: 1.5em;
	border-radius:3px;
	 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}