*{
	font-size:.900rem;
}

/**************************************NAV BAR EDIT*************************/
.custom-navbar{
    background: #393a3d;
    color: white;
}

.navbar-brand{
	color:white;
	font-size:2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 1.1rem;
    color: white;
}
.custom-border{
    padding: 8px;
 }
.custom-form-title{
    background: #108000;
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin-top: 0rem;
}

label{
    vertical-align: middle;
    font-size:1.2rem;
    margin-right:1rem;
}
.label-align{
	vertical-align:bottom;
}
 /***********************************INPUT CLASSES OVERRIDDEN**************************************/
.form-control-sm{
	border-radius:0px;
}
.form-control{
	border-radius:0px;
}
.form-control-ctm{
	display: block;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/***************************BUTTON MARGIN EDIT***************************************/
.btn{
	margin-left:1rem;
}
.btn-mr-rt{
	margin-right:1rem;
}
.btn-mr-tp{
	margin-top:1rem;
}
/***************************TABLE PROPERTIES*****************************************/
.table{
	overflow-x:auto;
}
.table tbody tr:hover{
	cursor:pointer;
	background:#218838;
}
.table td, .table th{
	padding:.5rem;
	vertical-align:middle;
}
.table-mr-top{
	margin-top:1rem;
}
/**********************************BORDER CLASSES************************************/
.border{
	padding:0rem 1rem 1rem 1rem;
	border:1.5px solid #393a3d !important;
	}
.border-mr-lt{
	margin-left:1px;
}
.border-mr-tp{
	margin-top:1px;
}
.border-mr-btm{
	margin-bottom:1px;
}	
	
	
/***********************************FORM CLASSES**************************************/
form{
	width:100%;
}
.form-row{
	padding:.875rem;
}
/***********************************HEADING CLASEES***********************************/
.h3-mr-lt{
	margin-left:1
	
}	

/******************************IMAGE CLASSES*************************************/
.image{
	width:"100px";
	height:"100px;
	}
/*********************************CONTAINER CLASESS****************************/
body{
	background:#eceef1;
}
.container{
	background:#eceef1;
	margin-bottom:1rem;
}
.container-fluid{
	background:#eceef1;
}
row{
	margin-right: 0;
	margin-left: 0;
}

.tile-background{
	background:#fff;
	padding:.875rem;
	width:100%;
	
}
.tile-background-ht{
	height:75px;
}
/******************************FOOTER CLASSES*********************************/
.footer{
	height:150px;
	background:#393a3d;
	margin-top:1rem;
}
/******************************INPUT OVERRIDDEN***********************************/
input{
	margin-bottom:.5rem;
	margin-top:.5rem;
	margin-right:.5rem;
}
select {
	margin-bottom:1rem;
	margin-right:.5rem;
}
/**************************HEADER CLASSES********************************************/

h3{
	background:#393a3d;
	margin-bottom: 0rem;
	padding:1rem;
	color:#fff;
}
/**************************SCROLL CLASSES*********************************************/
.scroll{
	
	overflow:auto;
}
/*****************************IMAGE SETTING CLASSES*************************************/
.img-set{
	margin-left:1rem;
}
.img-set:hover{
	cursor:pointer;
}
/******************************CHEQUE CLASSES*******************************************/
.cheque{
	background:url(../property/img/cheque.JPG);
	width:100%;
	height:auto;
	border:2px solid black;
	padding:.5rem;	
}
.accP{
	width:10%;
	border-top:1px solid black;
	border-bottom:1px solid black;
	height:25px;
	-ms-transform: rotate(-30deg); /* IE 9 */
  	-webkit-transform: rotate(-30deg); /* Safari 3-8 */
  	transform: rotate(-30deg);
  	margin-left:-.5rem;
}
.form-control-chq{
	background:url(../property/img/cheque.JPG);
	border:0;
	border-bottom:1px solid black;
	width:100%;
}