*{
	font-size:.900rem;
}
html{
	height:100%;
}
/**************************************NAV BAR EDIT*************************/
.custom-navbar{
    background: #393a3d;
    color: white;
}

.navbar-brand{
	color:white;
	font-size:2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 1.1rem;
    color: white;
}
/***********************************************LABEL CLASSES****************************************/
label{
    vertical-align: middle;
    font-size:1.1rem;
    margin:.5rem;
}
.label-align{
	vertical-align:bottom;
}

.lbl-rm-it{
	margin-top:7.5px;
}

 /***********************************INPUT CLASSES OVERRIDDEN**************************************/
.form-control-sm{
	border-radius:0px;
}
.form-control{
	border-radius:0px;
}
.form-control-ctm{
	display: block;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-ctm-sm{
	height: calc(1.5em + .5rem + 2px);
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
}


/***************************BUTTON MARGIN EDIT***************************************/
.btn{
	
}
.btn-mr-rt{
	margin-right:1rem;
}
.btn-mr-tp{
	margin-top:1rem;
}
/***************************TABLE PROPERTIES*****************************************/
.table{
	overflow-y:auto;
}
.table tbody tr:hover{
	cursor:pointer;
	background:#f2f2f2;
}
.table td, .table th{
	padding:.5rem;
	vertical-align:middle;
}
.table-mr-top{
	margin-top:1rem;
}
.table-back{
	background:#393a3d;
	color:#fff;
}
/**********************************BORDER CLASSES************************************/
.border{
	padding:0rem 1rem 1rem 1rem;
	border:1.5px solid #393a3d !important;
	}
.border-mr-lt{
	margin-left:1px;
}
.border-mr-tp{
	margin-top:1px;
}
.border-mr-btm{
	margin-bottom:1px;
}	
	
	
/***********************************FORM CLASSES**************************************/
form{
	width:100%;
}
.form-row{
	padding:.875rem;
}
.form-row-ctm{
	margin-right: -15px;
	margin-left: -15px;
}
/***********************************HEADING CLASEES***********************************/
.h3-mr-lt{
	margin-left:1
}	

/******************************IMAGE CLASSES*************************************/
.image{
	width:"100px";
	height:"100px;
	}
/*********************************CONTAINER CLASESS****************************/
body{
	background:#eceef1;
}
.container{
	background:#eceef1;
	margin-bottom:1rem;
}
.container-fluid{
	width:98%;
	background:#eceef1;
	margin-bottom:1rem;
}

.tile-background{
	background:#fff;
	width:100%;
}
.tile-background-row{
	background:#fff;
	padding:.875rem;
}
.tile-background-clm{
	background:#fff;
	padding:.875rem;
	margin-right: -15px;
	margin-left: -15px;
}
.tile-background-g{
	background:#393a3d;
	padding:.3rem;
	width:100%;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.tile-background-ht{
	height:75px;
}
/******************************FOOTER CLASSES*********************************/
.footer{
	height:150px;
	background:#393a3d;
	margin-top:1rem;
}
/******************************INPUT OVERRIDDEN***********************************/
input{
	margin-bottom:.5rem;
	margin-top:.5rem;
}
.inpt-rm-t{
	margin-top:.0rem;
}
select {
	margin-top:.5rem;
	margin-right:.5rem;
}
/**************************HEADER CLASSES********************************************/

h3{
	background:#fff/*#393a3d*/;
	margin-bottom: 0rem;
	padding:.5rem;
	color:black;
	font-size:1.5rem;
}
/**************************SCROLL CLASSES*********************************************/
.scroll{
	
	overflow:auto;
}
/*****************************IMAGE SETTING CLASSES*************************************/
.img-set{
	margin-left:1rem;
}
.img-set:hover{
	cursor:pointer;
}
/******************************CHEQUE CLASSES*******************************************/
.cheque{
	background:url(../property/img/cheque.JPG);
	width:100%;
	height:auto;
	border:2px solid black;
	padding:.5rem;	
}
.accP{
	width:10%;
	border-top:1px solid black;
	border-bottom:1px solid black;
	height:25px;
	-ms-transform: rotate(-30deg); /* IE 9 */
  	-webkit-transform: rotate(-30deg); /* Safari 3-8 */
  	transform: rotate(-30deg);
  	margin-left:-.5rem;
}
.form-control-chq{
	background:url(../property/img/cheque.JPG);
	border:0;
	border-bottom:1px solid black;
	width:100%;
}
/***********************************HOVER CLASSES**************************/
img.ctm-hover:hover{
	cursor:pointer;
}
/***********************MARGIN REMOVAL CLASSES THIS SHOULD ALWAYS BE LAST***************/
.lbl-rm-t{
	margin-top:0;
}
.lbl-rm-r{
	margin-right:0;
}
.lbl-rm-b{
	margin-bottom:0;
}
.lbl-rm-l{
	margin-left:0;
}
/*******************************FLEX ITEMS CLASSES***************************************/
.p-2{
	padding:0 !important;
}
/****************************Remove Padding**************************************/
.row-rm-pad{
	padding-right: 0;
	padding-left: 0;
}
/********************************SPAN CLASS OVERRIDDEN**********************************/
span{
	font-size:2rem;
	padding:.3rem .5rem .3rem .5rem;
	border-radius:5px;
}


/****************************Custom Classes************************************/
.pending-invoices{
	background:#fa8310;
	height:100%;
	padding:1rem;
	box-sizing:border-box;
	color:white;
	font-weight:bolder;
	text-align:center;
	vertical-align:middle;
}

.paid-invoices{
	background:#4caf50;
	height:100%;
	padding:1rem;
	box-sizing:border-box;
	color:white;
	font-weight:bolder;
	text-align:center;
	vertical-align:middle;
}
h6{
	font-weight:bolder;
}

/*******************************COMMON CLASESS****************************************************/
.r-p-t{
	padding-top:0;
}
.r-p-r{
	padding-right:0;
}
.r-p-b{
	padding-bottom:0;
}
.r-p-l{
	padding-left:0;
}
.r-p-all{
	padding:0;
}


/*******************RESPONSIVE CLASSESS*******************************/
@media screen and (max-width: 768px){
	.change-button{
	width:100%;
	margin-top:.5rem;
}
}

