*{
	font-size:.900rem;
}

/**************************************NAV BAR EDIT*************************/
.custom-navbar{
    background: #393a3d;
    color: white;
}

.navbar-brand{
	color:white;
	font-size:2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 1.1rem;
    color: white;
}
.custom-border{
    padding: 8px;
 }
.custom-form-title{
    background: #108000;
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin-top: 0rem;
}

label{
    vertical-align: middle;
    font-size:1.2rem;
}
 /***********************************INPUT OVERRIDDEN**************************************/
.form-control-sm{
	border-radius:0px;
}
.form-control{
	border-radius:0px;
}

/*************************************ROW MARGIN CLASSES*************************************/
.col-md-margintop{
	margin-top:1.5rem;
}
/***************************BUTTON MARGIN EDIT***************************************/
.btn-mr-rt{
	margin-right:1rem;
}
.btn-mr-tp{
	margin-top:1rem;
}
/***************************TABLE PROPERTIES*****************************************/
.table{
	overflow-x:auto;
}
.table tbody tr:hover{
	cursor:pointer;
	background:#108000;
}
.table td, .table th{
	padding:.5rem;
	vertical-align:middle;
}
.table-mr-top{
	margin-top:1rem;
}
/**********************************BORDER CLASSES************************************/
.border{
	padding:0rem 1rem 1rem 1rem;
	border:1.5px solid #393a3d !important;
	}
.border-mr-lt{
	margin-left:1px;
}
.border-mr-tp{
	margin-top:1px;
}
.border-mr-btm{
	margin-bottom:1px;
}	
	
	
/***********************************FORM CLASSES**************************************/
form{
	width:100%;
}
/***********************************HEADING CLASEES***********************************/
.h3-mr-lt{
	margin-left:1
	
}	

/******************************IMAGE CLASSES*************************************/
.image{
	width:"100px";
	height:"100px;
	}
/*********************************CONTAINER CLASESS****************************/
body{
	background:#eceef1;
}
.container{
	background:#eceef1;
	margin-bottom:1rem;
}
.container-fluid{
	background:#eceef1;
}
row{
	margin-right: 0;
	margin-left: 0;
}

.tile-background{
	background:#fff;
	padding:.875rem;
}
/******************************FOOTER CLASSES*********************************/
.footer{
	height:150px;
	background:#393a3d;
	margin-top:1rem;
}
/******************************INPUT OVERRIDDEN***********************************/
input{
	margin-bottom:1rem;
}
select {
	margin-bottom:1rem;
}
/**************************TEST CLASSES********************************************/
.test{
	height:50px;
	background:red;
}
.scroll{
	overflow:auto;
}
h3{
	background:#393a3d;
	margin-bottom: 0rem;
	padding:1rem;
	color:#fff;
}
.form-row{
	padding:.875rem;
}
