<style>
	.nav-class{
		display:none;
	}
	@media screen and (max-width: 768px){
	.hide-this-class{
		display:none;
	}
	.nav-class{
		display:flex;
	}
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  
	  
	  <ul class="nav justify-content-end align-items-center img-set nav-class">
		  	<li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          	<img src="../property/img/bell.png" alt="notification" id="class">
        	</a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          	<a class="dropdown-item" href="../views/Actions.jsp">
			<div class="d-flex justify-content-between align-items-center">
			<div>Action</div>
			<div class="cir" id="notificationCount">1</div>
			</div>          
         	</a>
        	</div>
       		</li>
	       	<li class="nav-item">
			  	<img data-toggle="userName" title="Logout"  src="../property/img/user.png" alt="user">
			  	&nbsp;&nbsp;&nbsp;
			    <img data-toggle="logOut" title="Logout"  src="../property/img/exit.png" alt="user">
		  	</li>
		</ul> 
		
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="./Dashboard.jsp">Cotton Ginning</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="./Dashboard.jsp">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buying Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./GenerateRST.jsp">Weighment</a>
          <a class="dropdown-item" href="./GoodsReceiptNote.jsp">Goods Grading Note</a>
          <a class="dropdown-item" href="./Invoice.jsp">Purchase Invoice</a>
        </div>
       </li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invoices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<a class="dropdown-item" href="./PurchaseInvoice.jsp">Purchase Invoices</a>
          <a class="dropdown-item" href="./PendingAmanatInvoices.jsp">Pending Amanat</a>
          <a class="dropdown-item" href="./PayInvoice.jsp">Pay Invoice</a>
        </div>
       </li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vendor Center
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./VendorMaster.jsp">Vendor Master</a>
        </div>
       </li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	 <a class="dropdown-item" href="./ChartOfAccounts.jsp">Chart Of Accounts</a>
            <a class="dropdown-item" href="./RecordExpenses.jsp">Record Expenses</a>
        </div>
       	</li>
       
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="./CheckRegister.jsp">Check Register</a>
	          <a class="dropdown-item" href="./ExpensesRegister.jsp">Expenses Register</a>
	          <a class="dropdown-item" href="./CashRegister.jsp">Cash Register </a>
	          <a class="dropdown-item" href="./BankRegister.jsp">Banks Register </a>
	          <a class="dropdown-item" href="./RegisterStock.jsp">Stock Register </a>
	        </div>
       	</li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./DailySetup.jsp">Daily Setup</a>
          <a class="dropdown-item" href="./SetupBanks.jsp">Setup Banks</a>
		  <a class="dropdown-item" href="./SetupCompanies.jsp">Setup Companies</a>
		  <a class="dropdown-item" href="./SetupGrade.jsp">Setup Grade Levels</a>
		   <a class="dropdown-item" href="./SetupVehicle.jsp">Setup Vehicles Rate</a>
        </div>
       	</li>
       	
       
    </ul>
   
	
	<ul  class="nav justify-content-end hide-this-class" >
     	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../property/img/settings.png" alt="setting" class="setting">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../accounts_operation_view/Payment.jsp">
				Cashier Module
          </a>
           <a class="dropdown-item" href="../wb_operator/GenerateRST.jsp">
				WB Operator Module
          </a>
        </div>
       	</li>
       </ul>
	
    
    <ul  class="nav justify-content-end hide-this-class" >
     	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../property/img/bell.png" alt="notification" class="notificationImg">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../views/Actions.jsp">
			<div class="d-flex justify-content-between align-items-center">
				<div>Action</div>
				<div class="cir" id="notificationCount">1</div>
			</div>          
          </a>
        </div>
       	</li>
       </ul>
    	
    	<ul class="nav justify-content-end hide-this-class img-set">
		  <li class="nav-item">
		    <img data-toggle="userName" title="Username" src="../property/img/user.png" alt="user">
		  </li>
		</ul>
		   
		<ul class="nav justify-content-end hide-this-class img-set">
		  <li class="nav-item">
		    <img data-toggle="logOut" title="Logout" src="../property/img/exit.png" alt="user">
		  </li>
		</ul>    	
    
  </div>
</nav>


<script>
	var totalNotifications = document.getElementById("notificationCount").innerHTML;
	console.log(totalNotifications);
	if(totalNotifications>0){
		document.getElementsByClassName("notificationImg")[0].src="../property/img/notification.png";
	}
	
	function playSound(filename){
        var mp3Source = '<source src="' + filename + '.mp3" type="audio/mpeg">';
        var oggSource = '<source src="' + filename + '.ogg" type="audio/ogg">';
        var embedSource = '<embed hidden="true" autostart="true" loop="false" src="' + filename +'.mp3">';
        document.getElementById("sound").innerHTML='<audio autoplay="autoplay">' + mp3Source + oggSource + embedSource + '</audio>';
      }
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="logOut"]').tooltip();   
});

$(document).ready(function(){
	  $('[data-toggle="userName"]').tooltip();   
	});
</script>
