<nav class="navbar navbar-expand-lg custom-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="./home.jsp">Cotton Ginning</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="./Dashboard.jsp">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buying Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./GenerateRST.jsp">Weighment</a>
          <a class="dropdown-item" href="./GoodsReceiptNote.jsp">Goods Grading Note</a>
          <a class="dropdown-item" href="./Invoice.jsp">Purchase Invoice</a>
        </div>
       </li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invoices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<a class="dropdown-item" href="./PurchaseInvoice.jsp">Purchase Invoices</a>
          <a class="dropdown-item" href="./PendingAmanatInvoices.jsp">Pending Amanat</a>
          <a class="dropdown-item" href="./PayInvoice.jsp">Pay Invoice</a>
        </div>
       </li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vendor Center
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./VendorMaster.jsp">Vendor Master</a>
        </div>
       </li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	 <a class="dropdown-item" href="./ChartOfAccounts.jsp">Chart Of Accounts</a>
            <a class="dropdown-item" href="./RecordExpenses.jsp">Record Expenses</a>
        </div>
       	</li>
       
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="./CheckRegister.jsp">Check Register</a>
	          <a class="dropdown-item" href="./ExpensesRegister.jsp">Expenses Register</a>
	          <a class="dropdown-item" href="">Cash Register </a>
	          <a class="dropdown-item" href="">Banks Register </a>
	          <a class="dropdown-item" href="./RegisterStock.jsp">Stock Register </a>
	        </div>
       	</li>
       
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./DailySetup.jsp">Daily Setup</a>
          <a class="dropdown-item" href="./SetupBanks.jsp">Setup Banks</a>
		  <a class="dropdown-item" href="./SetupCompanies.jsp">Setup Companies</a>
		  <a class="dropdown-item" href="./SetupGrade.jsp">Setup Grade Levels</a>
		   <a class="dropdown-item" href="./SetupVehicle.jsp">Setup Vehicles Rate</a>
        </div>
       	</li>
       
    </ul>
    
      <label>Username</label> &nbsp; &nbsp; &nbsp;
      <label>Logout</label>
  </div>
</nav>